body {
  font-family: 'Arial', sans-serif;
  background-color:#a372ff ;
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #000000;
}

#app {
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
  background: linear-gradient(to top, #a372ff 0%, #9345f8 100%);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

button {
  background-color: #bf51ff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 20px;
  width: 120px;
  margin: 0 5px;
font-size: 16px;
font-weight: bold;
box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2);
}

li {
  position: relative;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #25002c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  width: 40px;
 
}

li:hover .delete-button, li .delete-button {
  opacity: 1;
}
#shoppingListInput {
  width: 90%;
  padding: 10px;
  border: 0.5px solidrgb(0, 0, 0)f;
  border-radius: 10px;
  outline: none;
  font-family: sans-serif;
  font-size: 20px;
  margin-bottom: 10px;

}


h1 {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
  text-align: center;

}

#fixedList {
  justify-content: center;
  align-items: center;
  background-color: #9c00bb;
  border-radius: 10px 0 10px 0;
  color: #ffffff;
}
@keyframes itemAdded {
  0% {
    background-color: #d110f8;
    transform: scale(1);
  }
  50% {
    background-color: #b207c9;
    transform: scale(1.1);
  }
  100% {
    background-color: #a372ff;
    transform: scale(1);
  }
}

li.added {
  animation: itemAdded 1s ease;
}
@keyframes itemRemoved {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
    background-color: #e74c3c; /* צבע אדום במהלך האנימציה */
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
